<html>

<head>
    <title>multitimer</title>
    <link rel="stylesheet" href="styles.css">
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./app.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <!-- <pre>{{ timerArr | json }}</pre> -->
    <div ng-repeat="timer in timerArr">
        <div>
            name:
            <span data-ng-show="!editMode">{{ timer.name }}</span>
            <input type="text" data-ng-show="editMode" data-ng-model="timer.name" data-ng-required />
            <br />
            <div class="time">
                {{ ("00" + timer.tInit.getHours()).slice(-2)        }}:
                {{ ("00" + timer.tInit.getMinutes()).slice(-2)      }}:
                {{ ("00" + timer.tInit.getSeconds()).slice(-2)      }}:
                {{ ("00" + timer.tInit.getMilliseconds()).slice(-2) }}
            </div>
            <div class="bump-buttons" ng-if="editMode">
                <button ng-click="addHours(timer.tInit, 1000 * 60 * 60)">+hour</button>
                <button ng-click="addHours(timer.tInit, 1000 * 60)">+minute</button>
                <button ng-click="addHours(timer.tInit, 1000)">+second</button>
                <br />
                <button ng-click="addHours(timer.tInit, -1000 * 60 * 60)">-hour</button>
                <button ng-click="addHours(timer.tInit, -1000 * 60)">-minute</button>
                <button ng-click="addHours(timer.tInit, -1000)">-second</button>
            </div>
            <button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true"
                class="btn btn-default">edit</button>
            <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false" class="btn btn-default">edit
                done</button>
        </div>
        <div>
            <button data-ng-show="timer.going" ng-click="stop(timer)">stop</button>
            <button data-ng-show="!timer.going" ng-click="start(timer)">start</button>
            <button ng-click="reset(timer)" ng-click="reset(timer)">reset</button>
            <div class="time">
                {{ ("00" + timer.t.getHours()).slice(-2)        }}:
                {{ ("00" + timer.t.getMinutes()).slice(-2)      }}:
                {{ ("00" + timer.t.getSeconds()).slice(-2)      }}:
                {{ ("00" + timer.t.getMilliseconds()).slice(-2) }}
            </div>
            <div class="bump-buttons">
                <button ng-click="addHours(timer.t, 1000 * 60 * 60)">+hour</button>
                <button ng-click="addHours(timer.t, 1000 * 60)">+minute</button>
                <button ng-click="addHours(timer.t, 1000)">+second</button>
                <br />
                <button ng-click="addHours(timer.t, -1000 * 60 * 60)">-hour</button>
                <button ng-click="addHours(timer.t, -1000 * 60)">-minute</button>
                <button ng-click="addHours(timer.t, -1000)">-second</button>
            </div>
        </div>
        <br />
        <button class="remove" ng-click="remove($index)">remove</button>
    </div>
    <p />
    <button ng-click="createTimer()">create</button>
</body>

</html>