<html>

<head>
    <title>multitimer</title>
    <link rel="stylesheet" href="styles.css">
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="./app.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div ng-repeat="timer in timerArr">
        <div>
            name:
            <span data-ng-show="!editMode">{{ timer.name }}</span>
            <input type="text" data-ng-show="editMode" data-ng-model="timer.name" data-ng-required />
            <br />
            <div class="time">
                {{ ("00" + timer.durationInit.hours).slice(-2)   }}:
                {{ ("00" + timer.durationInit.minutes).slice(-2) }}:
                {{ ("00" + timer.durationInit.seconds).slice(-2) }}:
                {{ ("000" + timer.durationInit.ms).slice(-3)     }}
            </div>
            <div class="bump-buttons" ng-if="editMode">
                <button ng-click="addMsToDuration(timer.durationInit, 1000 * 60 * 60)">+hour</button>
                <button ng-click="addMsToDuration(timer.durationInit, 1000 * 60)">+minute</button>
                <button ng-click="addMsToDuration(timer.durationInit, 1000)">+second</button>
                <br />
                <button ng-click="addMsToDuration(timer.durationInit, -1000 * 60 * 60)">-hour</button>
                <button ng-click="addMsToDuration(timer.durationInit, -1000 * 60)">-minute</button>
                <button ng-click="addMsToDuration(timer.durationInit, -1000)">-second</button>
            </div>
            <button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true">edit</button>
            <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; onChange();">edit
                done</button>
        </div>
        <div>
            <div class="time">
                {{ ("00" + timer.durationDisplay.hours).slice(-2)   }}:
                {{ ("00" + timer.durationDisplay.minutes).slice(-2) }}:
                {{ ("00" + timer.durationDisplay.seconds).slice(-2) }}:
                {{ ("000" + timer.durationDisplay.ms).slice(-3)     }}
            </div>
            <div class="bump-buttons">
                <button ng-click="addMsToTimer(timer, 1000 * 60 * 60)">+hour</button>
                <button ng-click="addMsToTimer(timer, 1000 * 60)">+minute</button>
                <button ng-click="addMsToTimer(timer, 1000)">+second</button>
                <br />
                <button ng-click="addMsToTimer(timer, -1000 * 60 * 60)">-hour</button>
                <button ng-click="addMsToTimer(timer, -1000 * 60)">-minute</button>
                <button ng-click="addMsToTimer(timer, -1000)">-second</button>
            </div>
            <br />
            <button data-ng-show="timer.going" ng-click="stop(timer)">stop</button>
            <button data-ng-show="!timer.going" ng-click="start(timer)">start</button>
            <button ng-click="reset(timer)" ng-click="reset(timer)">reset</button>
        </div>
        <br />
        <button class="remove" ng-click="removeTimer($index)">remove</button>
    </div>
    <p />
    <button ng-click="createTimer()">create</button>
</body>

</html>