body {
    border: 1px solid black;
    padding: 16px;
    display: inline-block;
    font-size: 1rem;          /* 16px on most phones */
}

div {
    border: 1px solid black;
    padding: 8px;
    margin: 8px;

    /* display: inline-block; */

    overflow: auto; /* to prevent the .remove class from dipping into border bottom */
}

.time {
    font-size: 20px;
    display: inline-block;
    /* float: right; */
    font-size: 1.5rem;        /* scales with viewport */
}

.bump-buttons {
    border: 0px;
    padding: 0px;
    margin: 0px;
    /* float: right; */
    font-size: 1rem;
}

.remove {
    /* float: right; */
}